.footer-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  bottom: -19vh;
  justify-content: space-evenly;
  height: 15vh;
  width: 100%;
  color: white;
  margin-top: 3%;
  background-color: darkslategrey;
}

.footer-wrapper a {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: inherit;

  text-decoration: none;
}
